{{- if and (not (eq .Params.single true)) (or .PrevInSection .NextInSection) -}}
<section class="article navigation">
    {{- if .PrevInSection -}}
      <a class="link prev-article adjacent-article" href="{{- .PrevInSection.RelPermalink -}}"><div class="left-arrow">‹</div>{{- .PrevInSection.Title -}}</a>
    {{ else }}
      <div class="prev-article adjacent-article">
        This is the oldest post
      </div>
    {{- end -}}
    <div class="mid"></div>
    {{- if .NextInSection -}}
      <a class="link next-article adjacent-article" href="{{- .NextInSection.RelPermalink -}}">{{- .NextInSection.Title -}}<div class="right-arrow">›</div></a>
    {{ else }}
      <div class="next-article adjacent-article">
        This is the latest post
      </div>
    {{- end -}}
</section>
{{- end -}}